@model EscolaClient.Application.ViewModel.AlunoTurmaCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Matrícula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.ValidationSummary()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label">Aluno</label>
                @Html.DropDownListFor(x => x.AlunoId, Model.Alunos.OrderBy(x => x.Nome).Select(x => new SelectListItem()
               {
                   Value = $"{x.Id}",
                   Text = x.Nome
               }), new { @class = "form-control" })
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurmaId" class="control-label">Turma</label>
                @Html.DropDownListFor(x => x.TurmaId, Model.Turmas.OrderBy(x => x.Nome).Select(x => new SelectListItem()
               {
                   Value = $"{x.Id}",
                   Text = x.Nome
               }), new { @class = "form-control" })
                <span asp-validation-for="TurmaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
